<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="AsyncAPI Target Platform">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.17.0.v20190301-1325"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.17.0.v20190304-1445"/>
			<repository location="https://download.eclipse.org/releases/2019-03/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.sdk" version="4.11.0.I20190307-0500"/>
			<repository location="http://download.eclipse.org/eclipse/updates/4.11"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.apache.ivy.eclipse.ant.feature.feature.group" version="2.5.0.final_20191020104435"/>
			<unit id="org.apache.ivy.feature.feature.group" version="2.5.0.final_20191020104435"/>
			<unit id="org.apache.ivyde.eclipse.resolvevisualizer.feature.feature.group" version="2.2.0.final-201311091524-RELEASE"/>
			<unit id="org.apache.ivyde.feature.feature.group" version="2.2.0.final-201311091524-RELEASE"/>
			<repository location="http://www.apache.org/dist/ant/ivyde/updatesite"/>
		</location>
	</locations>
</target>